################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.pyc
/.vs/*
/tensorflow/checkpoints/*
/tensorflow/data/*
/tensorflow/input/*
/tensorflow/log/*
/tensorflow/output/*
/tensorflow/*.bat
/tensorflow/freeze_graph.*
